@import url("https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,300..700;1,300..700&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

@import "tailwindcss";

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Cormorant Garamond", serif;
}

p {
  font-family: "Montserrat", sans-serif;
}

@layer components {
  /* ===== TITLES ===== */

  .title-primary {
    @apply text-[30px]  text-black md:text-[40px] font-bold leading-tight;
  }

  .title-secondary {
    @apply text-[32px] font-semibold leading-snug;
  }

  .text-lead {
    @apply text-[24px] font-semibold;
  }

  /* ===== TEXT ===== */

  .text-primary {
    @apply text-[16px] md:text-[20px] leading-relaxed;
  }

  .text-secondary {
    @apply text-[14px] leading-relaxed text-gray-600;
  }

  .color-primary {
    @apply text-[#633826];
  }
  .color-secondary {
    @apply text-[#2B2B2B];
  }

  .color-gray {
    @apply text-[#222222A8];
  }
  .color-lead {
    @apply text-[#1A4E5A];
  }
  /* ===== BANNER VARIANT ===== */

  .banner-title {
    @apply text-[40px] text-white md:text-[64px]  font-bold leading-tight;
  }

  .banner-text {
    @apply text-[16px] text-[#FFFFFF]  md:text-[20px] leading-tight;
  }

  .banner-button {
    @apply bg-[#FFFFFF]   text-[#633826] px-6 py-2 text-sm whitespace-nowrap md:text-[20px] rounded-2xl;
  }
  .button-primary {
    @apply bg-[#633826] cursor-pointer px-8 py-3 rounded-xl text-white;
  }
}
@keyframes spinSlow {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.animate-spin-slow {
  animation: spinSlow 3s linear infinite;
}
